{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> I am a software professional working at NM software solutions. I am currently working as a Full-stack Developer,
          developing modules of Power Dairy Mobile, an App and a Desktop version on behalf of NM software solutions.
          I have participated in development of a new business application for the layout using Grid orientation model Bootstrap framework.
          I have built Rich Prototypes and Applications using HTML, CSS, JavaScript, jQuery, JSON and Bootstrap with MySQL database.
          Integrated the frontend jQuery UI with backend REST API. Built responsive site using Bootstrap that fits devices of different visual sizes.
          Involved in Designing, Implementation, Maintenance and Testing of Databases and Web pages.
          Designed web pages using with HTML, CSS based on the W3C standards. Implemented Agile Methodologies (SCRUM) processes including planning and creating Sprints, Backlogs,
          User Stories, Code Reviews and Daily Stand-ups. Implemented Web Scraping techniques using Beautiful Soup and Selenium.</p>
        <p>I worked as a Front End Developer in developing the project Look Fantastic for The Hut Group on behalf of NM software solutions.
          Participated as a team member in designing the user interface using HTML and CSS to make the interface user-friendly.
          Designed CSS3 based page layouts that are uniform on all screens throughout the application, cross-browser compatible and standards-compliant.
          Used MySQL Confidential base for table creation and involved in writing SQL queries using Joins and Stored Procedures.
          Created Responsive Designs (Mobile/Tablet/Desktop) using HTML & CSS, Bootstrap.
          Created and optimized graphic prototype websites and applications interfaces using HTML and CSS.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}